body{
	background-image: url('../img/b2.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Franklin Gothic';
}
div.content1{
	background-color: rgba(255,43,0,0.3);
	transition: all 2s;
	transition-timing-function: ease-in;
}
div.content1 h1{
	transition: all 0.5s;
	transition-timing-function: ease-in;
	margin-top: 50px;
	color:white;
	font-size: 60pt;
	font-weight: bold;
	text-align: center;
}
.loginform{
	display: flex;
	justify-content: center;
	align-items: center;
}
.login{
	padding: 20px;
	background: rgba(0,0,0,0.5);
	text-align: center;
	height: 250px;
	width: 250px;
	border-radius: 20px;
	box-shadow: 0 0 3px 3px rgba(255,255,255,0.5);
}
.login>label{
	color: rgba(255,255,255,0.8);
}
.login>input{
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-radius: 10px;
	border-color: white;
	background: rgba(255,255,255,0);
	color: rgba(255,255,255);
	transition: all 0.5s ease-out;
}
.login>input:hover{
	background: rgba(255,255,255,0.5);
	transition: all 0.5s ease-out;
}
.loginbtn{
	font-size: 20px;
	color: rgba(255,255,255,0.8);
	border-color: white;
	border-radius: 10px;
	height: 40px;
	width: 200px;
	background: rgba(255,255,255,0);
	box-shadow: 0 0 2px 2px rgba(255,255,255,0.5);
	transition: all 0.5s ease-out;
}
.loginbtn:hover{
	transform: scale(1.1);
	transition: all 0.5s ease-out;
}
.login>a{
	color: blue;
	transition: all 0.5s ease-out;
}
.login>a:hover{
	color: red;
	transition: all 0.5s ease-out;
}
.un{
	height: 20px;
	width: 200px;
}
.pw{
	height: 20px;
	width: 200px;
}
ul>li>a{
	color: white;
	font-size: 25pt;
}
div.nav{
	text-align: center;
}
ul>li>a.home{
	margin-left: 0;
	margin-right: 50px;
}
ul>li>a.sales{
	margin-left: 0;
	margin-right: 50px;
}
ul>li>a.orders{
	margin-left: 0;
	margin-right: 50px;
}
ul>li>a.home:hover{
	color: black;
}
ul>li>a.menu:hover{
	color: gray;
}
ul>li>a.orders:hover{
	color: gray;
}
ul>li{
	display: inline;
}