h1{
	font-size: 50px;
	font-family: OCR A Std, monospace;
	color: white;
}
body{
	background-image: url(../img/b2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Franklin Gothic';
}
table{
	border: solid #ff9900;
	color: white;
}