body{
	background-image: url('../img/b2.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Franklin Gothic';
}
h1{
	color: white;
	font-family: OCR A Std, monospace;
}

table{
	border-color: whitesmoke;
	color: white;
	font-size: 20px;
}